<!-- dashboard.html -->
{% extends "base.html" %}

{% block content %}
{% if session['user_id'] %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <!-- Display user information -->
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Welcome {{ username }}</h4>
                    <p class="card-text">We're glad to see you again!</p>
                </div>
            </div>
            <!-- Display user appointments -->
            <div class="card">
                <div class="card-body">
                    <h2>User Appointments</h2>
                    {% if appointments %}
                    <p>Number of appointments: {{ appointments|length }}</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Appointment ID</th>
                                <th>Doctor ID</th>
                                <th>Appointment Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointments %}
                            <tr>
                                <td>{{ appointment[0] }}</td>
                                <td>{{ appointment[6] }}</td>
                                <td>{{ appointment[3] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No appointments found.</p>
                    {% endif %}
                </div>
            </div>
            <!-- Form to submit symptoms and feeling -->
            <div class="row justify-content-center mt-4">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" action="{{ url_for('process_ticket') }}">
                                <div class="form-group">
                                    <label for="symptoms">Symptoms:</label>
                                    <input type="text" class="form-control" id="symptoms" name="symptoms" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
              
        </div>
    </div>
</div>
{% else %}
<br>
<br>
<h1 style="text-align: center;">Please log in to access this page</h1>
{% endif %}
{% endblock %}
